Options -MultiViews
RewriteEngine On

# Permite acesso a arquivos estáticos diretamente
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Permite acesso a diretórios diretamente
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redireciona todas as outras requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]